<body [ngClass]="{'light-mode': !isDarkMode, 'dark-mode': isDarkMode}">

  <!-- TEMA -->
  <label class="switch">
    <input type="checkbox" (change)=toggleMode()>
    <span class="slider"></span>
</label>
  <!-- HEADER -->
  <h1 id="title-page">Too<span id="title-page-span">Du</span></h1>

  <!-- FORM -->
  <div class="container">
    <h2 id="title-form">Nova Task</h2>
    <form id="form" [formGroup]="taskForm">
      <div *ngIf="titleError && taskForm.controls['title'].errors" class="error-message"> O <strong>título</strong> é
        obrigatório</div>
      <div class="column ">

        <!-- TITULO -->
        <input class="form-content" id="title" type="text" formControlName="title"
          [class.invalid]="titleError && taskForm.controls['title'].invalid" placeholder="Digite aqui o título..." />

        <!-- PRIORIDADE -->
        <select id="priority" class="form-content" formControlName="priority">
          <option value="null" disabled selected>Prioridade</option>
          <option value="Alta">Alta</option>
          <option value="Media">Media</option>
          <option value="Baixa">Baixa</option>
        </select>

        <!-- DATA -->
        <input type="date" class="form-content" id="duedate" formControlName="dueDate" />
      </div>

      <!-- DESCRICAO -->
      <textarea class="form-content" id="description" rows="5" formControlName="description"
        placeholder="Digite aqui a descrição..."></textarea>

      <!-- BOTAO ADICIONAR -->
      <button id="add-button" type="submit" (click)="onSubmit()" *ngIf="!saveBttActive">
        <div>Adicionar task</div>
      </button>

      <!-- BOTAO SALVAR -->
      <button id="save-button" class="save-button" *ngIf="saveBttActive" (click)="updateTask()">
        Salvar
      </button>

    </form>
  </div>

  <!-- TASKS -->
  <div class="container-task">
    <div class="task" *ngFor="let task of tasks">

      <!-- ROW HEADER -->
      <div class="row-header">

        <!-- CHECKBOX -->
        <input type="checkbox" class="checkmark" [checked]="task.completed" (change)="toggleCompleted(task)" [ngClass]="{
            'priority-null': task.priority === null,
            'priority-Alta': task.priority === 'Alta',
            'priority-Media': task.priority === 'Media',
            'priority-Baixa': task.priority === 'Baixa'
          }" />

        <!-- TITULO -->
        <h2 class="task-title">{{ task.title }}</h2>

        <!-- DUEDATE -->
        <p *ngIf="task.dueDate" class="task-due-date">{{ task.dueDate }}</p>

      </div>

      <!-- DESCRICAO -->
      <p class="task-description">{{ task.description }}</p>
      
      <div class="row-buttons">
        <!-- BOTAO EDITAR -->
        <button class="option-button" id="editButton" (click)="selectTask(task)">
          <img src="./../../assets/icon-edit.png" />
          <span>Editar</span>
        </button>

        <!-- BOTAO EXCLUIR -->
        <button (click)="deleteTask(task)" class="option-button" id="deleteButton">
          <img src="./../../assets/icon-delete.png" />
          <span>Excluir</span>
        </button>
      </div>
    </div>
  </div>
</body>
